.container {
	margin: 0 auto;
	max-width: 100%;
	width: 96em;
}   

@media screen and (max-width: 1919px) {

	.container {
		width: calc(100% - 60px);
	}

}

@media screen and (max-width: 1279px) {

	.container {
		width: calc(100% - 80px);
	}

}

@media screen and (max-width: 979px) {

	.container {
		width: calc(100% - 40px);
	}

} 