@font-face {
    font-family: 'Bebas';
    src: url('./../fonts/BEBAS___-webfont.eot');
    src: url('./../fonts/BEBAS___-webfont.eot?#iefix') format('embedded-opentype'),
         url('./../fonts/BEBAS___-webfont.woff2') format('woff2'),
         url('./../fonts/BEBAS___-webfont.woff') format('woff'),
         url('./../fonts/BEBAS___-webfont.ttf') format('truetype'),
         url('./../fonts/BEBAS___-webfont.svg#Bebas') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue';  
    src: url('./../fonts/BebasNeueBold.eot');
    src: url('./../fonts/BebasNeueBold.eot?#iefix') format('embedded-opentype'),
    	 url('./../fonts/BebasNeueBold.otf') format('otf'),
         url('./../fonts/BebasNeueBold.woff2') format('woff2'),
         url('./../fonts/BebasNeueBold.woff') format('woff'),
         url('./../fonts/BebasNeueBold.ttf') format('truetype'),
         url('./../fonts/BebasNeueBold.svg#Bebas Neue') format('svg');
    font-weight: normal;
    font-style: normal;
}