form label {
	display: block;
	color: #252122;
	font-weight: 400;
	margin: 0 0 0.5em 0;
}

form input[type=text],
form input[type=email],
form input[type=password],
form select,
form textarea {
	-webkit-appearance: none;
	display: block;
	border: 0;
	padding: 0.75em 1em;
	font-size: 1em;
	border-radius: 5px;
	border: solid 1px #dddddd;
	background: #fff;
	width: 100%;
}

form input[type=text]:focus,
form input[type=email]:focus,
form input[type=password]:focus,
form select:focus,
form textarea:focus {
	box-shadow: inset 0px 0px 1px 1px #43bff0;
}

form textarea {
	height: 15em;
}

form ::-webkit-input-placeholder {
	color: #555 !important;
}

form :-moz-placeholder {
	color: #555 !important;
}

form ::-moz-placeholder {
	color: #555 !important;
}

form :-ms-input-placeholder {
	color: #555 !important;
}

form ::-moz-focus-inner {
	border: 0;
}