html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	-webkit-text-size-adjust: none;
}

mark {
	background-color: transparent;
	color: inherit;
}

input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input, select, textarea {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
}

/* Basic */

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	background: #fff; 
} 

body, input, textarea, select {
	font-family: 'Montserrat'; 
	color: #5d5d5d;
	font-size: 14pt;
	line-height: 1.75em;
}

strong, b {
	color: #252122;
	font-weight: 400;
}

i, em {
	font-style: italic;
}

sub {
	position: relative;
	top: 0.5em;
	font-size: 0.8em;
}

sup {
	position: relative;
	top: -0.5em;
	font-size: 0.8em;
}

blockquote {
	border-left: solid 0.75em #dddddd;
	padding: 1em 0 1em 1.5em;
	font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
	color: #252122;
	font-weight: 700;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color: inherit;
	text-decoration: none;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.35em;
}

a {
	color: #d52349;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

br.clear {
	clear: both;
} 

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

img {
	max-width: 100%; 
}

iframe {
	max-width: 100%;
	height: 100%;
}

hr {
	border: 0;
	border-top: solid 1px #dddddd;
	height: 1px;
	margin: 2em 0 2em 0;
}

p, ul, ol, dl, table {
	margin-bottom: 2em;
}