@media screen and (max-width: 1280px) {

	.row {
		display: flex;
		flex-wrap: wrap;
		box-sizing: border-box;
		align-items: stretch;
	}

	.row > * {
		box-sizing: border-box;
	}

	.row.gtr-uniform > * > :last-child {
		margin-bottom: 0;
	}

	.row.aln-left {
		justify-content: flex-start;
	}

	.row.aln-center {
		justify-content: center;
	}

	.row.aln-right {
		justify-content: flex-end;
	}

	.row.aln-top {
		align-items: flex-start;
	}

	.row.aln-middle {
		align-items: center;
	}

	.row.aln-bottom {
		align-items: flex-end;
	}

	.row > .imp-large {
		order: -1;
	}

	.row > .col-1-large {
		width: 8.3333333333%;
	}

	.row > .off-1-large {
		margin-left: 8.3333333333%;
	}

	.row > .col-2-large {
		width: 16.6666666667%;
	}

	.row > .off-2-large {
		margin-left: 16.6666666667%;
	}

	.row > .col-3-large {
		width: 25%;
	}

	.row > .off-3-large {
		margin-left: 25%;
	}

	.row > .col-4-large {
		width: 33.3333333333%;
	}

	.row > .off-4-large {
		margin-left: 33.3333333333%;
	}

	.row > .col-5-large {
		width: 41.6666666667%;
	}

	.row > .off-5-large {
		margin-left: 41.6666666667%;
	}

	.row > .col-6-large {
		width: 50%;
	}

	.row > .off-6-large {
		margin-left: 50%;
	}

	.row > .col-7-large {
		width: 58.3333333333%;
	}

	.row > .off-7-large {
		margin-left: 58.3333333333%;
	}

	.row > .col-8-large {
		width: 66.6666666667%;
	}

	.row > .off-8-large {
		margin-left: 66.6666666667%;
	}

	.row > .col-9-large {
		width: 75%;
	}

	.row > .off-9-large {
		margin-left: 75%;
	}

	.row > .col-10-large {
		width: 83.3333333333%;
	}

	.row > .off-10-large {
		margin-left: 83.3333333333%;
	}

	.row > .col-11-large {
		width: 91.6666666667%;
	}

	.row > .off-11-large {
		margin-left: 91.6666666667%;
	}

	.row > .col-12-large {
		width: 100%;
	}

	.row > .off-12-large {
		margin-left: 100%;
	}

	.row.gtr-0 {
		margin-top: 0px;
		margin-left: 0px;
	}

	.row.gtr-0 > * {
		padding: 0px 0 0 0px;
	}

	.row.gtr-0.gtr-uniform {
		margin-top: 0px;
	}

	.row.gtr-0.gtr-uniform > * {
		padding-top: 0px;
	}

	.row.gtr-25 {
		margin-top: -7.5px;
		margin-left: -7.5px;
	}

	.row.gtr-25 > * {
		padding: 7.5px 0 0 7.5px;
	}

	.row.gtr-25.gtr-uniform {
		margin-top: -7.5px;
	}

	.row.gtr-25.gtr-uniform > * {
		padding-top: 7.5px;
	}

	.row.gtr-50 {
		margin-top: -15px;
		margin-left: -15px;
	}

	.row.gtr-50 > * {
		padding: 15px 0 0 15px;
	}

	.row.gtr-50.gtr-uniform {
		margin-top: -15px;
	}

	.row.gtr-50.gtr-uniform > * {
		padding-top: 15px;
	}

	.row {
		margin-top: -30px;
		margin-left: -30px;
	}

	.row > * {
		padding: 30px 0 0 30px;
	}

	.row.gtr-uniform {
		margin-top: -30px;
	}

	.row.gtr-uniform > * {
		padding-top: 30px;
	}

	.row.gtr-150 {
		margin-top: -45px;
		margin-left: -45px;
	}

	.row.gtr-150 > * {
		padding: 45px 0 0 45px;
	}

	.row.gtr-150.gtr-uniform {
		margin-top: -45px;
	}

	.row.gtr-150.gtr-uniform > * {
		padding-top: 45px;
	}

	.row.gtr-200 {
		margin-top: -60px;
		margin-left: -60px;
	}

	.row.gtr-200 > * {
		padding: 60px 0 0 60px;
	}

	.row.gtr-200.gtr-uniform {
		margin-top: -60px;
	}

	.row.gtr-200.gtr-uniform > * {
		padding-top: 60px;
	}

}