table {
	width: 100%;
}

table tr {
	border-top: solid 1px #dddddd;
}

table tr:first-child {
	border-top: 0;
}

table td {
	padding: 0.5em 1em 0.5em 1em;
}

table th {
	text-align: left;
	padding: 0.5em 1em 0.5em 1em;
	font-weight: 700;
	margin: 0 0 1em 0;
}

table thead {
	border-bottom: solid 2px #dddddd;
}