@media screen and (max-width: 1279px) {

	/* Basic */

	html, body {
		overflow-x: hidden;
	}
	
	/*top*/
	#header header h1 {
		margin-right: 3em;
		width: 197px;
	}

	#top a {
		width: 188px;
		height: 44px;
		margin-right: 10px;
	}

	#top .btn-rounded {
		font-size: 19px;
		line-height: 40px;
	}

	#top form input {
		width: 244px;
    	height: 44px;
	}

	#top i,
	#top form button {
		width: 41px;
		height: 38px;
	} 
	
	/*nav*/
	#nav > ul {
		padding: 0.95em 0;
	}

	#nav > ul > li > a {
		font-size: 14px; 
		line-height: 28px;
	}

	/*banner*/ 
	#banner header {
		top: 5.75em; 
	}

	#banner header h2 {
		font-size: 65px;
	}

	#banner header h2 + a {
		font-size: 42px;
	}
	
	/*period*/
	#intro section {
		margin: 0 0 1.5em 0;
		background-position: 4px 7px;
		background-size: 80%;
		padding: 110px 0 40px 0;
	}

	#intro section .period {
		width: 192px;
	}

	#intro section .period.small {
	    font-size: 19px; 
		letter-spacing: 4px;
	}

	#intro section .period:not(.small) {
		font-size: 28px;
		top: 18px;
	}

	#intro section .plan {
		margin-bottom: 30px;
	} 

	#intro section .plan .coin {
		font-size: 22px;
	}

	#intro section .plan .price {
		font-size: 133px;
		line-height: 105px;
	}

	#intro section .plan .comma {
		font-size: 45px; 
	}

	#intro section .plan .cents {
		font-size: 26px; 
	}

	#intro section p.desc {
		font-size: 13px;
		margin-bottom: 35px;
	}

	#intro section a.buy {
		font-size: 13px;
		padding: 9px 18px;
	} 

	#intro footer p {
		font-size: 30px;
	} 

	#intro footer a {
		font-size: 20px;
		padding: 28px 24px;
		letter-spacing: -2px;
	}

	/*gallery*/
	#main #gallery .photos .item {
		max-height: 312px;
	} 

	/*video*/
	#main #video header h2 {
		font-size: 47px;
		line-height: 50px;
		background-size: 20%;
	}

	#main #video header p {
		font-size: 24px;
		line-height: 35px;
		margin: 20px 0 0;
	}
	
	/*differential*/
	#main #differential section i {
		width: 190px;
		height: 187px;
	}

	#main #differential section i::before {
		background-size: 70%;
	}

	#main #differential section h2 {
		font-size: 24px;
		height: 55px;
		line-height: 50px;
	}

	#main #differential section.box3 {
		border-left: 2px solid #ff7f00;
	}

	#main #differential section.box1 h2 {
	    line-height: 25px;
	}

	#main #differential section p {
		font-size: 14px;
	}

	/*subscribe*/
	#main #subscribe .newsletter h2 {
		font-size: 26px;
		line-height: 31px;
		letter-spacing: 8px
	} 

	#main #subscribe .newsletter input {
		width: 195px;
		height: 38px;
		font-size: 15px;
	}

	#main #subscribe .newsletter button {
		width: 149px;
		height: 28px;
		font-size: 14px;
		margin: 25px 0 30px;
	}

	#main #subscribe .know h2,
	#main #subscribe .know h3 {
		font-size: 25px;
	}

	#main #subscribe .know p {
		font-size: 14px;
		margin: 15px 0 10px;
	}

	#main #subscribe .know a.btn {
		width: 212px;
		height: 36px;
		font-size: 14px;
		line-height: 36px;
	}

	/*comments*/
	#main #comments .inlet {
		padding: 20px 0;
	}

	#main #comments .inlet .txt1 {
		font-size: 23px;
		line-height: 54px;
		letter-spacing: 8px;
	}

	#main #comments .inlet .txt2 {
		font-size: 13px;
		line-height: 20px;
	}

	#main #comments .slider .item {
		height: 342px;
	}
	#main #comments .slider .item .image {
		width: 145px;
		height: 145px;
	}

	#main #comments .slider .item .box:first-child {
		margin-bottom: 40px;
	}

	#main #comments .slider .item .box {
		margin-left: 80px;
		margin-right: 10px;
		height: 145px;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	} 

	#main #comments .slider .arrow-left, 
	#main #comments .slider .arrow-right {
		background-size: 75%;
		background-position: center;
	}

	#main #comments .conclusive hr {
		margin: 40px 0;
	}

	#main #comments .conclusive span {
		height: 81px;
		font-size: 26px;
		padding: 25px
	}

	/*calling*/  
	#footer #calling span {
		font-size: 28px;
		line-height: 54px;
	}

	#footer #calling a {
		width: 198px;
		height: 54px;
		font-size: 22px;
		line-height: 48px;
	}
	
	/*finding*/
	#footer #finding .links {
		padding: 50px 0 80px 50px;
	}

	#footer #finding .links h2 {
		font-size: 14px;
	}

	#footer #finding .links li {
		font-size: 12px;
	}

	#footer #finding .links .social li {
		padding-right: 15px; 
		font-size: 17px;
	}

	#footer #finding .links .contact i {
		font-size: 17px;
		margin-right: 10px; 
	}
}