@media screen and (max-width: 979px) {

	/* Basic */

	body, input, textarea, select {
		font-size: 11pt;
	}

	h2, h3, h4, h5, h6 {
		font-size: 1.25em;
	}

	/* Button */

	input[type="button"].large,
	input[type="submit"].large,
	input[type="reset"].large,
	button.large,
	.button.large {
		font-size: 1.1em;
		padding: 0.65em 1.5em 0.65em 1.5em;
	}

	/*top*/
	#header {
		padding: 2em 0 0 0;
	}
	#header header h1 {
		margin-right: 2em;
		width: 167px;
	}

	#top a {
		width: 138px;
		height: 32px;
		margin-right: 5px;
	}

	#top .btn-rounded {
		font-size: 14px;
		line-height: 26px;
	}

	#top form input {
		width: 184px;
    	height: 32px;
	}

	#top i,
	#top form button {
		width: 29px;
		height: 26px;
	} 
	
	/*nav*/
	#nav {
		margin: 1.5em 0 0 0;
	}

	#nav > ul {
		padding: 0.95em 0;
	}

	#nav > ul > li > a {
		font-size: 10px;  
	}

	/*banner*/ 
	#banner header {
		top: 4.75em; 
	}

	#banner header h2 {
		font-size: 48px;
	}

	#banner header h2 + a {
		font-size: 30px;
		letter-spacing: -1px;
	}

	/*period*/
	#intro {
		margin-top: -55px
	}

	#intro section { 
		background-position: 6px 9px;
		background-size: 75%;
		padding: 80px 0 20px 0;
	}

	#intro section.middle {
		margin-top: -60px;
	}

	#intro section .period {
		width: 142px;
	}

	#intro section .period.small {
	    font-size: 14px; 
		letter-spacing: 3px;
	}

	#intro section .period:not(.small) {
		font-size: 20px;
	}

	#intro section .plan {
		margin-bottom: 20px;
	} 

	#intro section .plan .coin {
		font-size: 20px;
	}

	#intro section .plan .price {
		font-size: 103px;
		line-height: 83px;
	}

	#intro section .plan .comma {
		font-size: 41px; 
	}

	#intro section .plan .cents {
		font-size: 21px; 
	}

	#intro section p.desc {
		font-size: 12px;
		margin-bottom: 15px;
		line-height: 20px;
	}

	#intro section a.buy {
		font-size: 11px;
		padding: 7px 14px;
	} 

	#intro footer p {
		font-size: 23px;
		letter-spacing: -2px;
	} 

	#intro footer a {
		font-size: 15px;
		padding: 14px 12px;
		letter-spacing: -1px;
	}

	/*gallery*/
	#main #gallery .photos .item {
		max-height: 262px;
	} 

	#main #gallery .photos .arrow-left,
	#main #gallery .photos .arrow-right {
		background-size: 50%; 
		background-position: center;
	}

	/*video*/
	#main #video header h2 {
		font-size: 27px;
		line-height: 30px;
		background-size: 15%;
	}

	#main #video header p {
		font-size: 15px;
		line-height: 25px;
		margin: 15px 0 0;
	}
	
	/*differential*/
	#main #differential {
		margin-top: 20px;
	}

	#main #differential section i {
		width: 150px;
		height: 147px;
	}

	#main #differential section i::before {
		background-size: 65%;
	}

	#main #differential section h2 {
		font-size: 18px;
		height: 44px;
		line-height: 44px;
	} 

	#main #differential section.box1 h2 {
	    line-height: 20px;
	}

	#main #differential section p {
		font-size: 12px;
	}

	/*subscribe*/
	#main #subscribe .know header {
		margin: 0 0 0.5em 0;
	} 

	#main #subscribe .know a.btn {
		width: 192px;
		height: 32px;
		font-size: 12px;
		line-height: 32px;
	}

	/*comments*/
	#main #comments .inlet {
		padding: 10px 0;
	}

	#main #comments .inlet .txt1 {
		font-size: 16px;
		line-height: 34px;
		letter-spacing: 7px;
	}

	#main #comments .inlet .txt2 {
		font-size: 9px; 
	}

	#main #comments .slider .item {
		height: 302px;
	}
	#main #comments .slider .item .image {
		width: 135px;
		height: 135px;
	}

	#main #comments .slider .item .box:first-child {
		margin-bottom: 30px;
	}

	#main #comments .slider .item .box {
		margin-left: 70px;
		margin-right: 0px;
		height: 135px; 
	} 

	#main #comments .slider .item .text {
		margin: 15px 20px 15px 65px;
	}

	#main #comments .slider .item .name {
	    font-size: 19px;
	}
	
	#main #comments .slider .item .desc {
	    font-size: 16px;
	}

	#main #comments .slider .arrow-left, 
	#main #comments .slider .arrow-right {
		background-size: 50%; 
	}

	#main #comments .conclusive hr {
		margin: 30px 0;
	}

	#main #comments .conclusive span {
		height: 61px;
		font-size: 20px;
		padding: 16px
	}

	/*calling*/
	#footer #calling {
    	padding: 15px 0;
	}

	#footer #calling span {
		font-size: 20px;
		line-height: 44px;
	}

	#footer #calling a {
		width: 178px;
		height: 44px;
		font-size: 18px;
		line-height: 40px;
	}
	
	/*finding*/
	#footer #finding .links {
		padding: 30px 0 50px 30px;
	}

	#footer #finding .links h2 {
		font-size: 11px;
	}

	#footer #finding .links li {
		font-size: 10px;
	}

	#footer #finding .links .social li {
		padding-right: 10px; 
		font-size: 15px;
	}

	#footer #finding .links .contact i {
		font-size: 15px;
	}
	 

}