@media screen and (max-width: 1919px) {

	/* Basic */

	body, input, textarea, select {
		font-size: 11pt;
	}

	#header h1 {
		width: 247px;
		margin-right: 4em;
	}

	#top a {
		width: 258px;
		height: 54px;
		margin-right: 20px;
	}

	#top .btn-rounded {
		font-size: 26px;
		line-height: 50px;
	}

	#top form input {
		width: 334px;
    	height: 54px;
	}

	#top i,
	#top form button {
		width: 51px;
		height: 48px;
	}

	#top i::before,
	#top form .i-loupe::before {
		background-size: 50%;
	}

	#nav > ul {
		padding: 1.55em 0;
	}

	#nav > ul > li > a {
		font-size: 22px; 
		line-height: 38px;
	}

	#banner header {
		top: 6.75em;
		left: 4em;
	}

	#banner header h2 {
		font-size: 87px;
	}

	#banner header h2 + a {
		font-size: 59px;
	}

	#intro section {
		margin: 0 1.2em 2em 1.2em;
		background-position: 2px 5px;
		background-size: 80%;
		padding: 130px 0 55px 0;
	}

	#intro section .period {
		width: 242px;
	}

	#intro section .period.small {
	    font-size: 26px;
	    top: 25px;
	}

	#intro section .period:not(.small) {
		font-size: 38px;
		top: 17px;
	}

	#intro section .plan {
		margin-bottom: 50px;
	} 

	#intro section .plan .coin {
		font-size: 27px;
	}

	#intro section .plan .price {
		font-size: 183px;
		line-height: 130px;
	}

	#intro section .plan .comma {
		font-size: 52px; 
	}

	#intro section .plan .cents {
		font-size: 31px; 
	}

	#intro section p.desc {
		font-size: 17px;
		margin-bottom: 55px;
	}

	#intro section a.buy {
		font-size: 15px;
	} 

	#intro footer p {
		font-size: 40px;
	} 

	#intro footer a {
		font-size: 27px;
	}

	/*main*/

	#main #gallery .photos .item {
		max-height: 342px;
	}

	#main #gallery .photos .arrow-left,
	#main #gallery .photos .arrow-right {
		background-size: 75%;
	}

	#main #video header h2 {
		font-size: 73px;
		line-height: 82px;
		background-size: 25%;
	}

	#main #video header p {
		font-size: 35px;
		line-height: 40px;
	}

	#main #differential section i {
		width: 220px;
		height: 217px;
	}

	#main #differential section i::before {
		background-size: 75%;
	}

	#main #differential section h2 {
		font-size: 24px;
		height: 65px;
		line-height: 60px;
	}

	#main #differential section.box1 h2 {
	    line-height: 30px;
	}

	#main #differential section p {
		font-size: 15px;
	}

	#main #subscribe .newsletter h2 {
		font-size: 40px;
		line-height: 71px;
	}

	#main #subscribe .newsletter label {
		margin: 20px 0 0;
	}

	#main #subscribe .newsletter input {
		width: 315px;
		height: 48px;
		font-size: 21px;
	}

	#main #subscribe .newsletter button {
		width: 249px;
		height: 38px;
		font-size: 20px;
		margin: 30px 0 35px;
	}

	#main #subscribe .know h2,
	#main #subscribe .know h3 {
		font-size: 32px;
	}

	#main #subscribe .know p {
		font-size: 18px;
		margin: 20px 0 10px;
	}

	#main #subscribe .know a.btn {
		width: 282px;
		height: 46px;
		font-size: 19px;
		line-height: 46px;
	}

	#main #comments .inlet {
		padding: 40px 0;
	}

	#main #comments .inlet .txt1 {
		font-size: 38px;
		line-height: 74px;
		letter-spacing: 8px;
	}

	#main #comments .inlet .txt2 {
		font-size: 16px;
		width: 40%;
	}

	#main #comments .slider .item .name {
		font-size: 21px;
	}

	#main #comments .slider .item .desc {
		font-size: 17px;
	}

	#main #comments .conclusive hr {
		margin: 50px 0;
	}

	#main #comments .conclusive span {
		height: 101px;
		font-size: 39px;
		padding: 33px
	}

	#footer #calling {
		padding: 20px 0;
	}

	#footer #calling span {
		font-size: 35px;
		line-height: 80px;
	}

	#footer #calling a {
		width: 308px;
		height: 74px;
		font-size: 32px;
		line-height: 68px;
	} 

	#footer #finding .links h2 {
		font-size: 16px;
	}

	#footer #finding .links li {
		font-size: 14px;
	}

	#footer #finding .links .social li {
		padding-right: 30px; 
		font-size: 18px;
	}

	#footer #finding .links .contact i {
		font-size: 18px;  
	}
}